@charset "utf-8";
#__bs_notify__{display:none!important}
@font-face{font-family:NanumSquareWeb;src:local(NanumSquareL),url(../fonts/NanumSquareL.woff) format('woff');font-weight:300}
@font-face{font-family:NanumSquareWeb;src:local(NanumSquareR),url(../fonts/NanumSquareR.woff) format('woff');font-weight:400}
@font-face{font-family:NanumSquareWeb;src:local(NanumSquareB),url(../fonts/NanumSquareB.woff) format('woff');font-weight:700}
@font-face{font-family:NanumSquareWeb;src:local(NanumSquareEB),url(../fonts/NanumSquareEB.woff) format('woff');font-weight:800}
html{font-size:62.5%}
body{font-family:NanumSquareWeb,sans-serif;margin:0}
button,input,textarea,pre{font-family:NanumSquareWeb,sans-serif}
html,body{height:100%}
fieldset,ul,ol{margin:0;padding:0}
ul,ol{list-style:none}
h1,h2,h3,h4,h5,p,dd,dl,pre,input{margin:0}
legend,td,th,input[type="text"],input[type="password"],input[type="number"],input[type="email"]{padding:0}
textarea,button{border:0}
textarea{resize:none;padding:0}
button{padding:0;background-color:transparent;border-radius:0}
a{text-decoration:none;color:inherit}
strong,h1,h2,h3,h4,h5,th{font-weight:400}
em{font-style:normal}
fieldset,
input[type="text"],input[type="password"],input[type="number"],input[type="email"]{border:0;border-radius:0}
input[type="password"]{font-family:sans-serif}
table{border-collapse:collapse}
img{max-width:100%}
input:disabled,
button:disabled{background-color:transparent}
pre{white-space:pre-wrap}
.s_out,
legend{position:absolute;width:0;height:0;line-height:0;overflow:hidden;text-indent:10rem;white-space:nowrap;color:rgba(0,0,0,0)}
::-webkit-input-placeholder{color:#ccc}
.pos_center_before,.pos_center_after{position:relative}
.pos_center,.pos_center_before:before,.pos_center_after:after{position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.pos_center.v,.pos_center_before.v:before,.pos_center_after.v:after{left:auto;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%)}
.pos_center.h,.pos_center_before.h:before,.pos_center_after.h:after{top:auto;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%)}
.bg,.bg_before:before,.bg_after:after{-webkit-background-size:contain;background-size:contain;background-repeat:no-repeat}
.bg_before:before,.bg_after:after,.pos_center_before:before,.pos_center_after:after{content:'';display:block}
.clear:after{content:'';display:block;font-size:0;line-height:0;height:0;overflow:hidden;clear:both}
.blockdim{position:fixed;left:0;top:0;width:100vh;height:100vh;background-color:rgba(0,0,0,0);z-index:99999999}
.hide{display:none!important}
.btn_top{position:fixed;right:2rem;bottom:-8rem;width:6rem;height:6rem;box-shadow:0 0 .2rem 0 rgba(0,0,0,.3);background-color:rgba(255,255,255,.9);border-radius:50%;-webkit-transition-property:bottom;-o-transition-property:bottom;transition-property:bottom}
.btn_top:after{width:2.4rem;height:2.4rem;background-image:url(../images/icon_list_top.svg)}
.btn_top.show{bottom:2rem}
.font_montserrat{font-family:'Montserrat',sans-serif}
.ellipsis{text-overflow:ellipsis;overflow:hidden;display:block;white-space:nowrap}
.wrap,.ui-page-active{height:100%}
.home .wrap{height:100%;padding-top:10.5rem;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;position:relative;z-index:1}
.home .wrap .header,.home .wrap .footer{position:fixed;left:0;width:100%;border:.1rem solid #f5f5f5;background-color:#fff}
.home .wrap .header{top:0;height:5.6rem;border-width:0 0 .1rem;z-index:3}
.home .wrap .footer{bottom:0;height:5.2rem;border-width:0;-webkit-box-shadow:0 0 .2rem 0 rgba(0,0,0,.3);-moz-box-shadow:0 0 .2rem 0 rgba(0,0,0,.3);box-shadow:0 0 .2rem 0 rgba(0,0,0,.3);z-index:5}
.home .wrap .main{position:relative;z-index:1;width:100%;height:calc(100% - 5.2rem)}
.logo{width:9.4rem;height:2.4rem;background-image:url(../images/logo.svg);background-position:50% 50%;padding:.8rem;-webkit-background-size:9.4rem 2.4rem;background-size:9.4rem 2.4rem;object-fit:contain}
.btn_qr{width:4rem;height:4rem;background-image:url(../images/icon_alram.svg);background-position:50% 50%;-webkit-background-size:2.4rem 2.4rem;background-size:2.4rem 2.4rem;right:.8rem;object-fit:contain}
.pins{position:fixed;left:0;top:5.7rem;width:100%;height:4.8rem;-webkit-box-shadow:0 0 .2rem 0 rgba(0,0,0,.3);-moz-box-shadow:0 0 .2rem 0 rgba(0,0,0,.3);box-shadow:0 0 .2rem 0 rgba(0,0,0,.3);z-index:2;background-color:#fff}
.pins .inner{width:fit-content}
.pins li{float:left}
.pins li button{font-size:1.4rem;line-height:1.6rem;display:block;padding:.9rem}
.pins li button:before{-webkit-mask-image:url(../images/pin_s1.svg);mask-image:url(../images/pin_s1.svg);width:1.2rem;height:1.6rem;float:left;margin-right:.8rem;object-fit:contain;mask-repeat:no-repeat;mask-position:50% 50%;-webkit-mask-repeat:no-repeat;-webkit-mask-position:50% 50%}
.pins .pin1{color:#4a7df3}
.pins .pin1:before{background-color:#4a7df3}
.pins .pin2{color:#8b4dff}
.pins .pin2:before{background-color:#8b4dff}
.pins .pin3{color:#06aad7}
.pins .pin3:before{background-color:#06aad7}
.pins [disabled]{color:#ccc}
.pins [disabled]:before{background-color:#ccc}
.home_menu li{float:left;width:25%}
.home_menu .link{display:block;width:100%;text-align:center;font-size:1rem;line-height:2.4rem;padding-top:2.8rem;position:relative}
.home_menu .link:before{width:2.4rem;height:2.4rem;object-fit:contain;-webkit-background-size:contain;background-size:contain;background-repeat:no-repeat;background-position:50% 50%;margin-top:-.8rem}
.home_menu .home:before{background-image:url(../images/icon_map.svg)}
.home_menu .home.on:before{background-image:url(../images/icon_map_on.svg)}
.home_menu .reservation:before{background-image:url(../images/icon_reservation.svg)}
.home_menu .reservation.on:before{background-image:url(../images/icon_reservation_on.svg)}
.home_menu .customer:before{background-image:url(../images/icon_customer.svg)}
.home_menu .customer.on:before{background-image:url(../images/icon_customer_on.svg)}
.home_menu .mypage:before{background-image:url(../images/icon_mypage.svg)}
.home_menu .mypage.on:before{background-image:url(../images/icon_mypage_on.svg)}
.home_map{position:absolute;left:0;top:0;width:100%;height:100%}
.btn_stations{position:absolute;left:1.6rem;top:1.6rem;width:3.8rem;height:3.8rem;background-image:url(../images/icon_stations.svg)}
.zone_list{position:fixed;left:0;bottom:7.8rem;width:100%;-webkit-transition-property:bottom;-o-transition-property:bottom;transition-property:bottom}
.zone_list.hidden{bottom:-20rem}
.zone_list .slick-list{padding-top:.5rem}
.zone_list .item{height:0;margin:0 1.6rem;visibility:hidden}
.zone_list .item .btn{display:block;text-align:left;border-radius:.2rem;box-shadow:0 .2rem .4rem 0 rgba(0,0,0,.1);background-color:#fff;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:2rem 2rem 3.2rem;width:100%}
.zone_list .item .btn:after{background-image:url(../images/icon_more_gray.svg);width:2.4rem;height:2.4rem;bottom:0}
.zone_list .item .tit{font-weight:700;font-size:1.6rem}
.zone_list .item .add{font-size:1.4rem;margin:1.2rem 0 1rem}
.zone_list .item .time{font-size:1.2rem;color:#555}
.zone_list .item .time span{color:#ddd;font-size:1rem;display:inline-block;vertical-align:middle;margin:0 .4rem}
.zone_list .slick-list .item{height:12.5rem;visibility:visible}
.zone_list .slick-list .item.type2{height:11.3rem}
.zone_list .type2{top:-.5rem;position:relative}
.zone_list .type2 .btn:after{display:none}
.zone_list .type2 .btn{padding-bottom:2.5rem}
.zone_list .type2 button{width:3.8rem;height:3.8rem;border-radius:1.9rem;box-shadow:0 0 .2rem 0 rgba(0,0,0,.2);background-color:#fff;position:absolute;right:1.6rem}
.zone_list .type2 .btn_location{top:1.7rem}
.zone_list .type2 .btn_location:before{width:1.4rem;height:1.9rem;background-image:url(../images/icon_location.svg)}
.zone_list .type2 .btn_reservation{top:6.3rem}
.zone_list .type2 .btn_reservation:before{width:2.4rem;height:2.4rem;background-image:url(../images/icon_arr_right_blue.svg)}
.zone_list .type2 .add{padding-right:5rem}
.store.hidden,.stations.hidden,.home>.reservation.hidden,.wrap>.mypage.hidden,.product_alllist.hidden{top:100vh;position:fixed}
.store.hidden .footer,.store.hidden .img,.store.hidden .func,.stations.hidden .footer,
.reservation.hidden .footer,.reservation.hidden .header{position:absolute!important}
.store.hidden .main,.reservation.hidden .main{max-height:100vh;overflow:hidden;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.store.hidden.move,.home>.reservation.hidden.move{top:0}
.store.topfix .header .func{background:#fff;box-shadow:0 0 .2rem 0 rgba(0,0,0,.3)}
.store.topfix .header .func .btn_back{background-image:url(../images/icon_back_black.svg)}
.store.topfix .header .func .tit{display:block;opacity:1}
.store,.stations,.stations .inner,.reservation>.inner,.layer_time .custom_picker ul.move,.home>.reservation,.btn_top,.reservation .step1 .header,.reservation .step1 .footer,.reservation .step2 .header,.reservation .step2 .header p,.reservation .step2 .header em,.product_detail,.product_notice,.product_terms,.product_option .return_time,.product_option .return_point,.reservation .step3 .footer,.reservation .step3 .header,.reservation .step4 .header,.reservation .step4 .footer,.set_transition{-webkit-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s;-webkit-transition-timing-function:cubic-bezier(0.645,0.045,0.355,1);-o-transition-timing-function:cubic-bezier(0.645,0.045,0.355,1);transition-timing-function:cubic-bezier(0.645,0.045,0.355,1)}
.store,.stations,.home>.reservation,.wrap>.mypage,.product_alllist{position:absolute;left:0;top:0;z-index:2;width:100vw;min-height:100%;background-color:#fff}
.store .header .img{position:fixed;width:100%;height:22rem;-webkit-background-size:cover;
background-size:cover;background-position:50% 0;background-repeat:no-repeat;z-index:1}
.store .header .func{position:fixed;left:0;top:0;width:100%;height:5.6rem;background-image:linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0));z-index:3;box-shadow:0 0 0 0 rgba(0,0,0,.3);-webkit-transition-property:background-image box-shadow;-o-transition-property:background-image box-shadow;transition-property:background-image box-shadow}
.store .header .func .btn_back{background-image:url(../images/icon_back_white.svg);width:2.4rem;height:2.4rem;left:1.6rem;top:50%}
.store .header .func .tit{display:block;text-align:center;font-size:1.8rem;line-height:5.6rem;font-weight:700;display:none;opacity:0;-webkit-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity}
.store .footer{position:fixed;left:0;bottom:0;width:100%;height:6rem;-webkit-box-shadow:0 0 .2rem 0 rgba(0,0,0,.3)box-shadow:0 0 .2rem 0 rgba(0,0,0,.3);z-index:2;-webkit-transition-property:all;-o-transition-property:all;transition-property:all}
.store .footer button,.stations .footer button{color:#fff;font-weight:700;font-size:1.8rem;float:left;width:50%;height:6rem;background-color:#06aad7}
.store .footer button:last-child,.store .footer button:only-child,.stations .footer button:only-child{background-color:#4a7df3}
.store .footer button:only-child,.stations .footer button:only-child{width:100%}
.store{-webkit-transition-property:top;-o-transition-property:top;transition-property:top}
.store .main{position:relative;z-index:2;padding-top:22rem;height:calc(100% - 6rem);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-size:1.4rem;line-height:2.4rem}
.store .main .inner{background-color:#fff;position:relative;min-height:calc(100% - 28rem);padding:0 2rem 9.2rem;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.store .main .btn_share{position:absolute;right:2rem;top:-3rem;width:6rem;height:6rem;box-shadow:0 0 .2rem 0 rgba(0,0,0,.3);background-color:#fff;border-radius:3rem}
.store .main .btn_share:before{width:2.2rem;height:2.2rem;background-image:url(../images/icon_share.svg)}
.store .main .info{border-bottom:.1rem solid #ddd;padding:2.4rem 0}
.store .main .info .tit{display:block;font-weight:800;font-size:2.6rem;line-height:2.9rem;margin-bottom:2rem}
.store .main .info .address{margin-bottom:1.6rem}
.store .main .info .connect dt,.store .main .info .connect dd{float:left}
.store .main .info .connect dt{width:6.8rem;clear:both}
.store .main .info .connect dd{width:calc(100% - 6.8rem)}
.store .main .info .connect dt:after{content:'|';color:#ddd;font-size:1.2rem;margin-left:.7rem}
.store .main .info .connect .tel{float:right;color:#4a7df3}
.store .main .desc{padding:2.4rem 0 0}
.store .main .desc em{font-weight:700;font-size:1.6rem;display:block;margin-bottom:1.1rem;margin-top:1.6rem}
.store .main .desc em:first-child{margin-top:0}
.stations{width:100vw;height:100%;background-color:rgba(0,0,0,.7);overflow:hidden;-webkit-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity;opacity:0}
.stations .inner{position:absolute;left:0;bottom:-33.6rem;-webkit-transition-property:bottom;-o-transition-property:bottom;transition-property:bottom}
.stations.move{opacity:1}
.stations.move .inner{bottom:0}
.stations .main{background-color:#fff;width:100vw;height:27.6rem;border-radius:1.6rem 1.6rem 0 0}
.stations .main .custom_check label:before{left:0}
.custom_check{position:absolute;left:2.4rem;top:2.8rem}
.custom_check label{font-size:1.6rem;line-height:2.4rem;font-weight:700;display:block;position:relative;padding-left:3.6rem}
.custom_check input{position:absolute;left:-50%;top:-50%}
.custom_check label:before{width:2.4rem;height:2.4rem;background-image:url(../images/icon_check.svg);-webkit-background-size:auto 2.4rem;background-size:auto 2.4rem;left:0}
.custom_check input:checked + label:before{background-position:right 0}
.custom_radio{position:relative}
.custom_radio input{position:absolute;left:.3rem!important}
.custom_radio label{display:block;line-height:2.4rem}
.custom_radio label:before,
.custom_radio label:after{content:'';border-radius:50%;display:inline-block;vertical-align:top}
.custom_radio label:before{width:2rem;height:2rem;border:.2rem solid #06aad7;background-color:#fff;left:0!important}
.custom_radio label:after{width:1.2rem;height:1.2rem;background-color:#06aad7;left:.6rem!important;display:none}
.custom_radio input:checked + label:after{display:block}
.stations .map{position:absolute;left:3.9rem;top:6.6rem;width:28.3rem;height:18.2rem}
.stations .map >div{position:absolute}
.stations .map >div input,.stations .map >div .bg,.stations .map >div label{position:absolute}
.stations .map >div input{z-index:1}
.stations .map >div .bg{z-index:2}
.stations .map >div label{z-index:3;color:#fff;font-size:1.4rem;font-weight:700;padding:2rem;text-align:center;white-space:nowrap;line-height:2rem}
.stations .map .map1{width:9.39rem;height:14.05rem;bottom:0;left:0}
.stations .map .map2{width:10.36rem;height:14.5rem;right:0;top:0}
.stations .map .map3{width:13.8rem;height:9.8rem;left:6.9rem;top:.6rem}
.stations .map .map4{width:15.3rem;height:10.5rem;left:7rem;bottom:.7rem}
.stations .map .map1 .bg{width:9.39rem;height:14.05rem;background-image:url(../images/bg_map1.svg)}
.stations .map .map2 .bg{width:10.36rem;height:14.5rem;background-image:url(../images/bg_map2.svg)}
.stations .map .map3 .bg{width:13.8rem;height:9.8rem;background-image:url(../images/bg_map3.svg)}
.stations .map .map4 .bg{width:15.3rem;height:10.5rem;background-image:url(../images/bg_map4.svg)}
.stations .map .map1 label{left:-.5rem;top:3.6rem}
.stations .map .map2 label{left:2rem;top:1.3rem}
.stations .map .map3 label{left:2.2rem;top:1.5rem}
.stations .map .map4 label{left:1.8rem;top:3.1rem}
.stations .map .map1 input:checked + label + .bg{background-image:url(../images/bg_map1_on.svg)}
.stations .map .map2 input:checked + label + .bg{background-image:url(../images/bg_map2_on.svg)}
.stations .map .map3 input:checked + label + .bg{background-image:url(../images/bg_map3_on.svg)}
.stations .map .map4 input:checked + label + .bg{background-image:url(../images/bg_map4_on.svg)}
.reservation{overflow-x:hidden}
.reservation>.inner{position:relative;left:0;width:100vw;min-height:100%;-webkit-transition-property:left;-o-transition-property:left;transition-property:left}
.reservation>.inner >div{position:absolute;top:0;width:100vw;min-height:100%}
.reservation>.inner >div.hidden{height:0;overflow:hidden}
.header .btn_close,.header .btn_back{position:absolute;top:1.6rem;width:2.4rem;height:2.4rem}
.reservation .step1 .btn_close,.reservation .step2 .btn_close{background-image:url(../images/icon_close_white.svg)}
.reservation .step1 .btn_back,.reservation .step2 .btn_back{background-image:url(../images/icon_back_white.svg)}
.reservation .step1{left:0}
.reservation .step1 .header,.reservation .step1 .footer{-webkit-transition-property:left;-o-transition-property:left;transition-property:left}
.reservation .step1 .header,.reservation .step1 .footer,.reservation .step2 .header{position:fixed;left:0;background-color:#4a7df3;width:100vw;z-index:2}
.reservation .step1 .header,.reservation .step2 .header{top:0;height:16rem}
.reservation .step1 .header p,.reservation .step2 .header p{font-size:2.6rem;line-height:3.6rem;padding:6.5rem 0 0 2rem;color:#fff}
.reservation .step1 .header strong,.reservation .step2 .header strong{font-weight:800}
.reservation .step1 .footer{bottom:0;height:6rem}
.reservation .step1 .footer button{display:block;width:100%;height:6rem;color:#fff;font-size:1.8rem;font-weight:700}
.reservation .step1 .main,.reservation .step2 .main{padding:16rem 0 6rem;position:relative;z-index:1}
.reservation .step2{left:100vw}
.reservation .step2 .header{left:100vw;-webkit-transition-property:height left;-o-transition-property:height left;transition-property:height left}
.reservation .step2 .main{padding-bottom:0}
.reservation .step2 .header p{height:3.6rem;overflow:hidden;-webkit-transition-property:height;-o-transition-property:height;transition-property:height}
.reservation .step2 .header em{position:absolute;left:2rem;bottom:3.2rem;color:#fff;font-size:1.6rem;line-height:1.8rem;-webkit-transition-property:bottom;-o-transition-property:bottom;transition-property:bottom}
.reservation .step2 .header.fix{height:10rem}
.reservation .step2 .header.fix p{height:0}
.reservation .step2 .header.fix em{bottom:1.6rem}
.reservation .step3{left:200vw}
.reservation .step3 .header,.reservation .step4 .header,.product_alllist .header{position:fixed;left:0;top:0;z-index:2;width:100%;height:5.6rem;box-shadow:0 0 .2rem 0 rgba(0,0,0,.3);background-color:#fff}
.reservation .step3 .header strong,.reservation .step4 .header strong,.product_alllist .header strong{display:block;text-align:center;font-size:1.8rem;line-height:5.6rem;font-weight:700}
.header .btn_close{background-image:url(../images/icon_close_black.svg);right:1.6rem}
.header .btn_back{background-image:url(../images/icon_back_black.svg);left:1.6rem}
.reservation .step3 .main,.reservation .step4 .main{position:relative;z-index:1;padding-top:5.6rem;padding-bottom:9.3rem}
.reservation .step3 .tit_sub,.reservation .step4 .tit_sub{font-size:2rem;line-height:2.2rem;font-weight:700;margin-bottom:2.4rem}
.reservation .step3 .tit_sub2{font-size:1.6rem;line-height:1.8rem;font-weight:700;margin-bottom:1.6rem}
.reservation .step3 .main >div,.reservation .step4 .main >div{padding-left:2rem;padding-right:2rem;padding-top:3.2rem;font-size:1.4rem;line-height:2.2rem}
.reservation .step3 .main >div.more{padding:2rem 0 3rem;border-bottom:.8rem solid #f4f4f4;background-color:#fff}
.reservation .step3 .main >div + .more{margin-top:-.8rem}
.reservation .step3 .main >div.product_terms + .more{margin-top:0}
.reservation .step3 .footer,.reservation .step4 .footer{position:fixed;left:0;bottom:0;width:100%;background-color:#fff;z-index:2;box-shadow:0 0 .2rem 0 rgba(0,0,0,.2);background-color:rgba(255,255,255,.95);-webkit-transition-property:left;
-o-transition-property:left;
transition-property:left}
.reservation .step3 .footer{height:9.2rem}
.reservation .step3 .footer .date,.reservation .step3 .footer .total{font-size:1.2rem;line-height:3.2rem}
.reservation .step3 .footer .date{float:left;padding-left:1.2rem;color:#4a7df3}
.reservation .step3 .footer .total{float:right;padding-right:1.2rem}
.reservation .step3 .footer .total strong{font-weight:700}
.reservation .step3 .btn_agree,.reservation .step4 .btn_payment,.my_infoedit .footer .btn_confirm,.my_siteout .footer .btn_confirm,.my_qna_write .footer .btn_confirm{width:100%;height:6rem;box-shadow:0 0 .2rem 0 rgba(0,0,0,.3);background-color:#4a7df3;color:#fff;font-size:1.8rem;font-weight:700;display:block}
.reservation .more .btn_more
,.my_event .more .btn_more{height:4rem;border-radius:2rem;width:16rem;border:.1rem solid #ccc;font-size:1.4rem;font-weight:700;margin:0 auto;display:block}
.reservation .step4{left:300vw}
.reservation .step4 .footer{height:6rem}
.reservation .step4 .tit_sub{font-size:1.8rem;line-height:2rem;font-weight:800}
.reservation .step4 .main{padding-bottom:6rem!important}
.reservation .step4 .main >div{padding-top:2.8rem}
.reservation.return .step1 .header,.reservation.return .step1 .footer,.reservation.return .step2 .header,.reservation.return .table_calender tr td button.active{background-color:#06aad7}
.reservation.return .step1 .header,.reservation.return .step2 .header{height:12.5rem}
.reservation.return .step1 .main,.reservation.return .step2 .main{padding-top:12.5rem}
.reservation_info{padding-bottom:.4rem}
.reservation_info label
,.qna_input label{display:block;font-size:1.2rem;line-height:1.3rem;color:#666;margin-bottom:-.4rem}
.reservation_info input
,.reservation_info textarea
,.qna_input input
,.qna_input textarea{font-size:1.6rem;border-bottom:.1rem solid #666;display:block;width:100%;margin-bottom:2.4rem}
.reservation_info input
,.qna_input input{line-height:4.2rem}
.reservation_info textarea
,.qna_input textarea{line-height:2.4rem;margin-top:1.2rem;height:3.2rem;max-height:24rem;overflow:auto}
.fee_info{padding-bottom:.3rem}
.fee_info dl{line-height:2.8rem;margin-bottom:1.2rem}
.fee_info dt{font-weight:700;float:left}
.fee_info dd{font-size:1.6rem;float:right}
.fee_info dd strong{font-weight:700}
.fee_info ul{margin-bottom:2.5rem}
.fee_info .clear li{position:relative;padding-right:9rem}
.fee_info .clear li span{position:absolute;right:0;top:0}
.use_point{padding:0!important}
.use_point .btn_point{display:block;width:100%;height:8rem;font-size:1.8rem;font-weight:800;text-align:left;padding-left:2rem}
.use_point .btn_point:after{width:2.4rem;height:2.4rem;background-image:url(../images/icon_next_gray.svg);right:2rem}
.fee_total{position:relative}
.fee_total .tit_sub{float:left;margin-bottom:2.8rem!important}
.fee_total ul{float:right;text-align:right;margin-bottom:2.8rem!important}
.fee_total .total{font-size:2.2rem;line-height:2.5rem;margin-bottom:.7rem}
.fee_total .total strong{font-weight:800}
.fee_total .point{color:#4a7df3}
.payment_select{border-top:.8rem solid #f4f4f4;padding:2.7rem 2rem 2.4rem;font-size:1.6rem;line-height:2.4rem}
.payment_select dl{margin-bottom:2.7rem}
.payment_select dt,
.payment_select dd{margin-bottom:3.8rem}
.payment_select dt{float:left;width:7rem}
.payment_select dd{float:right;width:calc(100% - 7rem);text-align:right}
.payment_select dt:last-of-type,
.payment_select dd:last-of-type{margin-bottom:0}
.payment_select .custom_radio{float:right;width:9.9rem;text-align:left}
.payment_select .custom_radio label{padding-left:3.2rem;font-size:1.4rem}
.payment_select .total{text-align:center;height:4.6rem;border-radius:.2rem;background-color:#e7f7fb;line-height:4.6rem;font-size:1.4rem}
.payment_select .total em{color:#06aad7}
.payment_select .total strong{font-weight:700}
.terms_check{padding-bottom:0!important}
.terms_check .btns{position:relative;margin-bottom:2.8rem}
.terms_check .custom_check{position:relative;left:0;top:0}
.terms_check .custom_check label:before{left:0}
.terms_check .btn_allview{width:2.4rem;height:2.4rem;background-image:url(../images/icon_more_down.svg);right:2rem}
.terms_check .detail{height:0;overflow:hidden}
.terms_check .detail.open{height:21.4rem}
.terms_check .detail >ul{padding-bottom:.6rem}
.terms_check .detail >ul li{position:relative;font-size:1.6rem;line-height:1.8rem;color:#555;margin-bottom:1.2rem}
.terms_check .detail >ul li a{position:absolute;right:0}
.terms_check .detail .conts{background-color:#f4f4f4;font-size:1.1rem;line-height:1.9rem;color:#555;padding:.5rem 1.5rem;height:11rem;overflow-x:hidden;overflow-y:auto;margin-bottom:2.4rem;position:relative}
.terms_check .detail .conts .desc{padding:1rem 0}
.reservation.s2>.inner,.reservation.s2 .step1 .header,.reservation.s2 .step1 .footer{left:-100vw}
.reservation.s2 .step2 .header{left:0}
.reservation.s2 .step3 .header,.reservation.s2 .step3 .footer,.reservation.s3 .step4 .header,.reservation.s3 .step4 .footer{left:100vw}
.reservation.s3>.inner,.reservation.s3 .step1 .header,.reservation.s3 .step1 .footer{left:-200vw}
.reservation.s3 .step2 .header,.reservation.s4 .step3 .header,.reservation.s4 .step3 .footer{left:-100vw}
.reservation.s4>.inner,.reservation.s4 .step1 .header,.reservation.s4 .step1 .footer{left:-300vw}
.reservation.s4 .step2 .header{left:-200vw}
.reservation .hidden .header,.reservation .hidden .footer{position:absolute!important}
.detail_img_list{position:relative;margin:0 auto;padding:0!important}
.detail_img_list .slick-dots{position:absolute;left:0;bottom:2rem;text-align:center;width:100%;height:.8rem}
.detail_img_list .slick-dots li{display:inline-block;vertical-align:top;line-height:0;margin:0 .3rem}
.detail_img_list .slick-dots li button{width:.8rem;height:.8rem;border-radius:50%;background-color:rgba(0,0,0,.3);overflow:hidden;text-indent:-5rem;font-size:0;color:rgba(0,0,0,0);line-height:0}
.detail_img_list .slick-dots li.slick-active button{background-color:#4a7df3}
.product_info,.product_detail,.product_option,.product_notice,.product_terms,.reservation_info,.fee_info,.use_point,.fee_total{border-bottom:.8rem solid #f4f4f4}
.product_info{padding-top:2.4rem;padding-bottom:3.3rem}
.product_info .tit{font-size:2rem;line-height:2.8rem;font-weight:700;word-break:keep-all;margin-bottom:1.6rem}
.option .price{float:left}
.option .price strong{display:block;font-size:2rem;line-height:3.6rem}
.option .price strong span{font-weight:700}
.option .price em{display:block;font-size:1.2rem;line-height:1.3rem;color:#666}
.option .length{width:11rem;position:relative;float:right}
.option .length input{font-size:1.6rem;line-height:3.6rem;text-align:center;width:100%;font-weight:700}
.option .length input:disabled{color:#ccc}
.option .length button{position:absolute;top:0;width:3.6rem;height:3.6rem;border-radius:50%;border:.1rem solid #4a7df3}
.option .length button:disabled{border-color:#ccc}
.option .length button:disabled:after,.option .length button:disabled:before{background-color:#ccc}
.option .length button:after,.option .length button:before{content:'';width:.1rem;height:1.2rem;background-color:#4a7df3}
.option .length button:after{-webkit-transform:rotateZ(90deg) translateX(-.6rem);-ms-transform:rotateZ(90deg) translateX(-.6rem);-o-transform:rotateZ(90deg) translateX(-.6rem);transform:rotateZ(90deg) translateX(-.6rem)}
.option .length button.minus{left:0}
.option .length button.minus:before{display:none}
.option .length button.plus{right:0rem}
.product_detail,.product_notice,.product_terms{overflow:hidden;height:auto;padding-bottom:3rem;-webkit-transition-property:height;-o-transition-property:height;transition-property:height}
.product_detail.default{height:100rem}
.product_option{padding-left:0!important;padding-right:0!important}
.product_option .options,.product_option .tit_sub{padding-left:2rem;padding-right:2rem}
.product_option .options{border-bottom:.1rem solid #ccc;padding-top:2.4rem;padding-bottom:3.2rem}
.product_option .options:last-child{border-bottom:0}
.product_option .options .option{padding-top:2.4rem}
.product_option .tit_sub + .options{padding-top:0}
.product_option .return_time,.product_option .return_point{clear:both;height:0;overflow:hidden;-webkit-transition-property:height;-o-transition-property:height;transition-property:height}
.product_option .return_time.open{height:7.7rem}
.product_option .return_time:before{content:'';display:block;font-size:0;line-height:0;height:2.4rem}
.product_option .return_time label{font-size:1.2rem;color:#666;display:block;line-height:1.3rem}
.product_option .return_time input{display:block;font-size:1.6rem;height:3.9rem;border-bottom:.1rem solid #666;width:100%}
.product_option .return_time input::-webkit-input-placeholder,.product_option .return_point input::-webkit-input-placeholder{color:#ccc}
.product_option .return_point{position:relative}
.product_option .return_point.open{height:5.6rem}
.product_option .return_point:before{content:'';display:block;height:1.3rem}
.product_option .return_point input{font-size:1.6rem;line-height:4.2rem;display:block;width:100%;border-bottom:.1rem solid #666}
.product_option .return_point:after{width:2.4rem;height:2.4rem;background-image:url(../images/icon_dropdown_black.svg);right:0}
.product_option .return_point select{position:absolute;left:0;bottom:0;width:100%;height:4.2rem;opacity:0}
.product_notice.default{height:23.1rem}
.product_terms,.product_terms + .more{border-bottom:0!important}
.product_terms.default{height:16.5rem}
.table_calender{width:100%}
.table_calender caption{font-size:2.4rem;font-weight:700}
.table_calender th{font-size:1.2rem;height:3.6rem;padding:.7rem 0}
.table_calender td{text-align:center}
.table_calender td button{font-size:1.6rem;width:3.6rem;height:3.6rem;margin:.7rem 0;position:relative;z-index:2}
.table_calender td button:disabled{color:#ccc!important}
.table_calender td button:disabled:after{content:'';position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%) rotate(45deg);-ms-transform:translate(-50%,-50%) rotate(45deg);-o-transform:translate(-50%,-50%) rotate(45deg);transform:translate(-50%,-50%) rotate(45deg);width:.1rem;height:2.2rem;background-color:#ccc}
.table_calender tr th:first-child,.table_calender tr td:first-child button,.table_calender tr td:first-child button.active{color:#ff0a27}
.table_calender tr td button.active{background-color:#4a7df3;border-radius:50%;color:#fff}
.table_calender tr td.range{position:relative}
.table_calender tr td.range:after{content:'';width:100%;height:3.6rem;background-color:#ecf2fd;position:absolute;left:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);z-index:1}
.table_calender tr td.start:after,.table_calender tr td.end:after{width:50%}
.table_calender tr td.start:after{left:50%}
.calender_list{background-color:#fff}
.calender_list .item{margin:0 2.4rem;padding:2.4rem 0}
.calender_list .item .table_calender{margin:0 auto}
.calender_list .list>.item{height:0;overflow:hidden;padding:0}
.calender_list .slick-arrow{position:absolute;width:2.4rem;height:2.4rem;z-index:2;top:2.5rem;-webkit-background-size:contain;background-size:contain;background-repeat:no-repeat;overflow:hidden;text-indent:-10rem;font-size:0;-webkit-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity;opacity:1}
.calender_list .slick-arrow.hidden{opacity:0}
.calender_list .slick-prev{left:50%;background-image:url(../images/icon_back_black.svg);margin-left:-7rem}
.calender_list .slick-next{right:50%;background-image:url(../images/icon_next_black.svg);margin-right:-7rem}
.calender_list .slick-prev.slick-disabled{background-image:url(../images/icon_back_gray.svg)}
.calender_list .slick-next.slick-disabled{background-image:url(../images/icon_next_gray.svg)}
.calender_list .slick-list{z-index:1}
.set_time{background-color:#fff;padding:2.4rem 2rem 3.2rem;border-top:.8rem solid #f4f4f4}
.set_time button{display:block;border:.1rem solid #ccc;width:100%;height:5.6rem;border-radius:2.8rem;text-align:left;font-size:1.6rem;padding-left:2rem}
.set_time button:first-child{margin-bottom:1.6rem}
.set_time button:after{width:2.4rem;height:2.4rem;background-image:url(../images/icon_next_blue.svg);right:2rem}
.product_list li{float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:50%;height:35rem;border:.1rem solid #d8d8d8;border-width:0 .1rem .1rem 0}
.product_list li:nth-child(2n){border-right:0}
.product_list li >button{display:block;width:100%;height:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:2rem 0 2.6rem 1.6rem;text-align:left}
.product_list li div{padding-right:.6rem}
.product_list li div img{max-height:22rem}
.product_list li p{padding-right:1.2rem;font-size:1.4rem;line-height:2.2rem;word-break:keep-all;margin:1.2rem 0}
.product_list li em{display:block;font-size:1.6rem;line-height:1.8rem}
.product_list li em span{font-weight:700}
.layer_wrap{position:fixed;left:0;top:0;width:100vw;height:100vh;background-color:rgba(0,0,0,.8);z-index:100}
.layer_wrap .btn_close{width:2.4rem;height:2.4rem;background-image:url(../images/icon_close_black.svg);position:absolute;right:1.2rem;top:1.2rem}
.layer_wrap .inner{border-radius:.2rem;box-shadow:0 0 1rem 0 rgba(0,0,0,.2);background-color:#fff}
.layer_time .inner{width:29.6rem;height:37.4rem}
.layer_time .tit,.layer_agree .tit{position:absolute;left:2rem;top:3rem;font-size:1.8rem;line-height:2rem;font-weight:700}
.layer_time .btn_confirm,.layer_point .btn_confirm,.layer_agree .btn_confirm,.login_form .footer .btn_confirm,.join_form .footer .btn_confirm,.find_pw .footer .btn_confirm,.reset_pw .footer .btn_confirm{position:absolute;left:0;bottom:0;width:100%;height:5.2rem;background-color:#4a7df3;border-radius:0 0 .2rem .2rem;color:#fff;font-size:1.6rem;font-weight:700}
.layer_time .time_picker{position:absolute;width:100%;top:9rem;left:0;text-align:center}
.layer_time .custom_picker{display:inline-block;overflow:hidden;height:19.2rem;width:11.6rem;position:relative}
.layer_time .custom_picker .input_picker{height:6.4rem;line-height:6.4rem;display:block;color:#ccc;font-size:3.6rem;text-align:center;width:100%}
.layer_time .custom_picker .input_picker.selected{color:#000}
.layer_time .custom_picker ul{position:absolute;width:100%;left:0;top:6.4rem;-webkit-transition-property:-webkit-transform;-o-transition-property:-o-transform;transition-property:transform;z-index:1}
.layer_time .custom_picker select{opacity:0}
.layer_time .custom_picker:after,
.layer_time .custom_picker:before{content:'';position:absolute;width:100%;height:4.8rem;left:0;z-index:2;display:none}
.layer_time .custom_picker:before{top:0;background-image:linear-gradient(to bottom,#fff 20%,rgba(255,255,255,0))}
.layer_time .custom_picker:after{bottom:0;background-image:linear-gradient(to bottom,rgba(255,255,255,0),#fff 80%)}
.layer_point .inner{width:29.6rem;height:38.3rem}
.layer_point .coupon .custom_check{position:relative;left:0;top:0}
.layer_point .coupon .custom_check label{padding-left:3.2rem;font-size:1.4rem;color:#555}
.layer_point .coupon .custom_check label:before{left:0}
.layer_point .coupon dd{padding-bottom:1.8rem}
.layer_point .coupon dt{margin-bottom:2.1rem}
.layer_point dt,
.layer_point .point .my{font-size:1.8rem;font-weight:700}
.layer_point .point{position:relative;margin-bottom:4rem}
.layer_point .point input{border-bottom:.1rem solid #666;display:block;width:100%;font-size:1.6rem;line-height:4.2rem}
.layer_point .point input::-webkit-input-placeholder,.layer_point .point input::-webkit-input-placeholder{color:#ccc}
.layer_point .point .my{position:absolute;right:0;top:0;padding-top:0}
.layer_point .point dd{padding-top:1.2rem}
.layer_point .main{padding:6rem 2rem 0}
.layer_agree .inner{width:29.6rem;height:47.6rem}
.layer_agree .main{padding:7rem 2rem 0}
.layer_agree .list_agree li{position:relative;font-size:1.2rem;line-height:2.2rem;color:#111;padding-left:1.3rem;margin-bottom:.6rem}
.layer_agree .list_agree li:before{content:'';width:.3rem;height:.3rem;background-color:#000;border-radius:50%;position:absolute;left:0;top:.9rem}
.layer_agree .tit_sub{font-weight:700;font-size:1.2rem;line-height:2.2rem;margin-bottom:.6rem}
.home>.reservation{-webkit-transition-property:top;-o-transition-property:top;transition-property:top}

.login_main{position:relative;width:100vw;min-height:100%}
.login_main .inner{width:100%;height:36.4rem;margin-top:-3.8rem}
.login_main .login_logo{width:13.2rem;height:6.4rem;background-image:url(../images/logo_graphic.svg);top:0}
.login_main .inner_menu{position:absolute;bottom:2.4rem;left:0;width:100%;padding:0 2.4rem;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.login_main .inner_menu li{float:left;width:33.3%;position:relative}
.login_main .inner_menu li:after{width:.1rem;height:1.2rem;background-color:#ccc;right:0}
.login_main .inner_menu li:nth-child(2){width:33.4%}
.login_main .inner_menu button{display:block;width:100%;height:2.2rem;font-size:1.4rem;color:#666}
.login_main .login_menu{padding:0 7rem;width:100%;top:12.4rem;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.login_main .login_menu li{margin-bottom:1.6rem}
.login_main .login_menu li:last-child{margin-bottom:0}
.login_main .login_menu button{display:block;width:100%;height:4.8rem;font-size:1.4rem;font-weight:700;border-radius:2.4rem;border:.1rem solid #ccc}
.login_main .login_menu button.fb{border:0;background-color:#4468b0;color:#fff}
.login_main .login_menu button.fb:before{background-image:url(../images/icon_facebook.svg);width:.7rem;height:1.35rem;left:2.2rem!important}
.login_main .login_menu button.ka{border:0;background-color:#ffe811}
.login_main .login_menu button.ka:before{background-image:url(../images/icon_kakao.svg);width:1.6rem;height:1.5rem;left:1.8rem!important}
.login_main .login_menu button.na:before{background-image:url(../images/icon_naver.svg);width:1.15rem;height:1.1rem;left:2rem!important}

.pos_over{position:fixed;left:0;top:0;width:100vw;min-height:100%;background-color:#fff;-webkit-transition-property:left top;-o-transition-property:left top;transition-property:left top}
.pos_over.before{left:100vw}
.pos_over.move{left:0!important}
.pos_over.after{left:-100vw}
.pos_over.downout{top:100vh}
.pos_over.move .header
,.pos_over.move .footer
,.pos_over.before .header
,.pos_over.before .footer
,.pos_over.after .header
,.pos_over.after .footer{position:absolute}
.pos_over.move .main
,.pos_over.before .main
,.pos_over.after .main{max-height:100vh;overflow:hidden}
.pos_over.top.before.move{top:0}
.pos_over.top.before,
.pos_over.top.after{left:0!important;top:100%}

.login_form .header
,.login_form .footer
,.join_form .header
,.join_form .footer
,.find_pw .header
,.find_pw .footer
,.reset_pw .header
,.reset_pw .footer{position:fixed;left:0;width:100%}
.login_form .header
,.join_form .header{top:0}
.login_form .footer
,.join_form .footer
,.find_pw .footer
,.reset_pw .footer{bottom:0;height:6rem}

.login_form.pos_over fieldset{position:absolute}
.login_form legend{font-size:2.6rem;line-height:3.6rem;width:auto;height:auto;font-weight:800;left:2rem;top:8rem}
.login_form .main
,.join_form .main
,.find_pw .main
,.reset_pw .main{padding:16.4rem 2rem 0;-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;height:100%}
.wrap_input{position:relative}
.wrap_input label{font-size:1.2rem;color:#666;line-height:1.4rem;display:block}
.wrap_input input{display:block;width:100%;font-size:1.6rem;border-bottom:.1rem solid #666;line-height:1.8rem;margin-bottom:2.4rem;padding:.8rem 0 1.3rem;color:#000}
.wrap_input button{width:7.5rem;height:3.2rem;color:#4a7df3;border:.1rem solid #4a7df3;border-radius:1.6rem;position:absolute;right:0;background-color:#fff}
.wrap_input button:disabled{border-color:#ccc;color:#ccc}
.wrap_input button.send{top:1.75rem}
.wrap_input button.resend{border-color:#555;color:#555;top:1.75rem}
.wrap_input button.cert{top:9.55rem}
.wrap_input .custom_check{position:relative;left:auto;top:auto;width:100%;height:2.4rem}
.wrap_input .custom_check label{font-size:1.4rem;line-height:2.4rem;color:#000}
.wrap_input .custom_check label:before{left:0}
.wrap_input .custom_check input{margin:0;padding:0;border:0;width:auto;left:1rem;top:1rem;opacity:0}
.login_form .footer .btn_confirm
,.join_form .footer .btn_confirm
,.find_pw .footer .btn_confirm
,.reset_pw .footer .btn_confirm{height:6rem}
.error{color:#ff1c24;font-size:1.2rem;line-height:1.3rem;padding-top:.8rem;height:1.3rem;border-top:.1rem solid #ff1c24;margin:-2.5rem 0 .3rem}
.error.blue{border-color:transparent;color:#4a7df3}
.join_form .main{padding-top:20rem}
.join_tit{font-size:2.6rem;line-height:3.6rem;position:absolute;top:8rem;left:0;padding:0 2rem}
.join_tit span{font-weight:800}
.select_gender{width:25.8rem;margin:0 auto}
.select_gender .custom_radio{float:left}
.select_gender .custom_radio label{width:5.9rem;height:2.2rem;position:relative;left:auto;top:auto;-webkit-transform:none;-ms-transform:none;-o-transform:none;transform:none;text-align:center;color:#ddd;font-size:2rem;font-weight:800;line-height:2.2rem;padding-top:12.2rem;margin:0 3.5rem}
.select_gender .custom_radio input{opacity:0}
.select_gender .custom_radio label:before{width:5.9rem;height:10.2rem;border:0 none;border-radius:0;background-color:#ddd;top:0;-webkit-transform:none;-ms-transform:none;-o-transform:none;transform:none;mask-repeat:no-repeat;mask-position:50% 50%;-webkit-mask-repeat:no-repeat;-webkit-mask-position:50% 50%}
.select_gender .custom_radio label:after{display:none!important}
.select_gender .custom_radio .female:before{-webkit-mask-image:url(../images/icon_woman.svg);mask-image:url(../images/icon_woman.svg)}
.select_gender .custom_radio .male:before{-webkit-mask-image:url(../images/icon_man.svg);mask-image:url(../images/icon_man.svg)}
.select_gender .custom_radio input:checked + label{color:#4a7df3}
.select_gender .custom_radio input:checked + label:before{background-color:#4a7df3}
.join_form .pos_over{position:absolute}
.join_form .step3 .main{padding-top:25.2rem}
.find_pw .main
,.reset_pw .main{padding-top:20rem}
.layer_message{position:fixed;width:100vw;height:4.8rem;background-color:#4a7df3;left:0;top:0;-webkit-transition-property:top;-o-transition-property:top;transition-property:top;z-index:10}
.layer_message p{text-align:center;line-height:4.8rem;color:#fff;font-size:1.4rem}
.layer_message.hidden{top:-4.8rem}
.match_id{border-radius:.2rem;background-color:#edf2fe;font-size:2rem;line-height:2.2rem;text-align:center;margin-top:7.1rem;padding:1.8rem 0}
.layer_intro{position:fixed;left:0;top:0;z-index:100;width:100vw;height:100vh;background-image:url(../images/bg_intro.svg);background-color:#fff;-webkit-background-size:cover;background-size:cover;text-align:center;-webkit-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity;opacity:1}
.layer_intro p:before{width:23.7rem;height:14.3rem;background-image:url(../images/bg_intro2.svg);margin:0 auto 4rem}
.layer_intro p{color:#fff;font-size:2.4rem;line-height:3.4rem}
.layer_intro p span{font-size:2.6rem}
.layer_intro.hidden{opacity:0}
.wrap>.mypage{min-height:calc(100% - 5.2rem);-webkit-transition-property:top;-o-transition-property:top;transition-property:top;z-index:4}
.wrap>.mypage>div{position:absolute;left:0;top:0;width:100vw;min-height:100%}
.home .wrap .mypage_main{z-index:1}
.home .wrap .mypage_main.hidden{height:100%;overflow:hidden}
.home .wrap .mypage_main .header{background-color:#4a7df3;height:25rem;position:relative;border:0}
.mypage_main .header .func{position:absolute;right:2rem;top:2rem;width:6.4rem;height:2.4rem}
.mypage_main .header .func button{width:2.4rem;height:2.4rem}
.mypage_main .header .func .btn_edit{float:left;background-image:url(../images/icon_edit.svg)}
.mypage_main .header .func .btn_setting{float:right;background-image:url(../images/icon_setting.svg)}
.mypage_main .profile{padding:4rem 0 0}
.mypage_main .profile .img{width:6.8rem;height:6.8rem;border-radius:3.4rem;margin:0 auto;background:url(../images/no_img.png) 50% 50% #fff;-webkit-background-size:cover;background-size:cover;overflow:hidden;position:relative;margin-bottom:2.4rem}
.mypage_main .profile .img img{width:auto;height:6.8rem}
.mypage_main .profile .name{font-size:2rem;line-height:2.2rem;font-weight:700;color:#fff;display:block;text-align:center;margin-bottom:1.2rem}
.mypage_main .level{display:block;height:3rem;width:15.5rem;margin:0 auto}
.mypage_main .level:before,.mypage_main .level:after,.mypage_main .level span,.mypage_main .level span:before,.mypage_main .level span:after{content:'';float:left;width:3.1rem;height:3rem;background-image:url(../images/icon_1_off.svg)}
.mypage_main .level span{width:6.2rem;padding-left:3.1rem;position:static}
.mypage_main .s1:before,.mypage_main .s2:before,.mypage_main .s2 span,.mypage_main .s3:before,.mypage_main .s3 span,.mypage_main .s3 span:before,.mypage_main .s4:before,.mypage_main .s4 span,.mypage_main .s4 span:before,.mypage_main .s4 span:after,.mypage_main .s5:before,.mypage_main .s5 span,.mypage_main .s5 span:before,.mypage_main .s5 span:after,.mypage_main .s5:after{background-image:url(../images/icon_1_on.svg)}
.mypage_main .l2:before,.mypage_main .l2:after,.mypage_main .l2 span,.mypage_main .l2 span:before,.mypage_main .l2 span:after{background-image:url(../images/icon_2_off.svg)}
.mypage_main .l2.s1:before,.mypage_main .l2.s2:before,.mypage_main .l2.s2 span,.mypage_main .l2.s3:before,.mypage_main .l2.s3 span,.mypage_main .l2.s3 span:before,.mypage_main .l2.s4:before,.mypage_main .l2.s4 span,.mypage_main .l2.s4 span:before,.mypage_main .l2.s4 span:after,.mypage_main .l2.s5:before,.mypage_main .l2.s5 span,.mypage_main .l2.s5 span:before,.mypage_main .l2.s5 span:after,.mypage_main .l2.s5:after{background-image:url(../images/icon_2_on.svg)}
.mypage_main .l3:before,.mypage_main .l3:after,.mypage_main .l3 span,.mypage_main .l3 span:before,.mypage_main .l3 span:after{background-image:url(../images/icon_3_off.svg)}
.mypage_main .l3.s1:before,.mypage_main .l3.s2:before,.mypage_main .l3.s2 span,.mypage_main .l3.s3:before,.mypage_main .l3.s3 span,.mypage_main .l3.s3 span:before,.mypage_main .l3.s4:before,.mypage_main .l3.s4 span,.mypage_main .l3.s4 span:before,.mypage_main .l3.s4 span:after,.mypage_main .l3.s5:before,.mypage_main .l3.s5 span,.mypage_main .l3.s5 span:before,.mypage_main .l3.s5 span:after,.mypage_main .l3.s5:after{background-image:url(../images/icon_3_on.svg)}
.mypage_main .l4:before,.mypage_main .l4:after,.mypage_main .l4 span,.mypage_main .l4 span:before,.mypage_main .l4 span:after{background-image:url(../images/icon_4_off.svg)}
.mypage_main .l4.s1:before,.mypage_main .l4.s2:before,.mypage_main .l4.s2 span,.mypage_main .l4.s3:before,.mypage_main .l4.s3 span,.mypage_main .l4.s3 span:before,.mypage_main .l4.s4:before,.mypage_main .l4.s4 span,.mypage_main .l4.s4 span:before,.mypage_main .l4.s4 span:after,.mypage_main .l4.s5:before,.mypage_main .l4.s5 span,.mypage_main .l4.s5 span:before,.mypage_main .l4.s5 span:after,.mypage_main .l4.s5:after{background-image:url(../images/icon_4_on.svg)}
.mypage_main .l5:before,.mypage_main .l5:after,.mypage_main .l5 span,.mypage_main .l5 span:before,.mypage_main .l5 span:after{background-image:url(../images/icon_5_off.svg)}
.mypage_main .l5.s1:before,.mypage_main .l5.s2:before,.mypage_main .l5.s2 span,.mypage_main .l5.s3:before,.mypage_main .l5.s3 span,.mypage_main .l5.s3 span:before,.mypage_main .l5.s4:before,.mypage_main .l5.s4 span,.mypage_main .l5.s4 span:before,.mypage_main .l5.s4 span:after,.mypage_main .l5.s5:before,.mypage_main .l5.s5 span,.mypage_main .l5.s5 span:before,.mypage_main .l5.s5 span:after,.mypage_main .l5.s5:after{background-image:url(../images/icon_5_on.svg)}
.home .wrap .mypage_main .main{height:auto;z-index:4;padding-bottom:5.6rem}
.home .wrap .mypage_main .myinfo{margin:-3rem 2rem -3rem;height:7.8rem;border-radius:.4rem;box-shadow:0 .1rem .1rem 0 #ccc;background-color:#fff;position:relative}
.home .wrap .mypage_main .myinfo:before,
.home .wrap .mypage_main .myinfo:after{content:'';width:.1rem;height:3.6rem;background-color:#ddd;position:absolute;top:2.2rem}
.home .wrap .mypage_main .myinfo:before{left:33.3%}
.home .wrap .mypage_main .myinfo:after{left:66.7%}
.home .wrap .mypage_main .myinfo dt
,.home .wrap .mypage_main .myinfo dd{width:33.3%;text-align:center;position:absolute}
.home .wrap .mypage_main .myinfo dt:nth-of-type(1)
,.home .wrap .mypage_main .myinfo dd:nth-of-type(1){left:0}
.home .wrap .mypage_main .myinfo dt:nth-of-type(2)
,.home .wrap .mypage_main .myinfo dd:nth-of-type(2){width:33.4%;left:33.3%}
.home .wrap .mypage_main .myinfo dt:nth-of-type(3)
,.home .wrap .mypage_main .myinfo dd:nth-of-type(3){left:66.7%}
.home .wrap .mypage_main .myinfo dt{font-size:1.2rem;line-height:1.3rem;top:1.8rem}
.home .wrap .mypage_main .myinfo dd{font-size:1.6rem;line-height:1.8rem;color:#4a7df3;font-weight:700;top:4rem}
.home .wrap .mypage_main .mymenu{padding-top:4.2rem;background-color:#fff}
.home .wrap .mypage_main .mymenu li{position:relative;height:5rem}
.home .wrap .mypage_main .mymenu li:first-child{height:7.4rem}
.home .wrap .mypage_main .mymenu button{display:block;font-size:1.6rem;height:100%;line-height:5rem;padding-left:2.6rem;width:100%;text-align:left;position:relative;z-index:2}
.home .wrap .mypage_main .mymenu button span{display:inline-block;vertical-align:}
.home .wrap .mypage_main .mymenu button:before{content:'';display:inline-block;vertical-align:top;height:inherit}
.home .wrap .mypage_main .mymenu button:after{width:2.4rem;height:2.4rem;background-image:url(../images/icon_next_gray.svg);right:2rem}
.home .wrap .mypage_main .mymenu p{font-size:1.2rem;color:#555;line-height:1.4rem;padding-left:2.6rem;margin-top:-3rem;position:relative;z-index:1}
.home .wrap .mypage_main .mymenu p:before{width:1.4rem;height:1.4rem;background-image:url(../images/icon_warning.svg);display:inline-block;vertical-align:top;margin-right:.4rem}
.home .wrap .mypage_main .btn_coupon{position:absolute;width:30%;height:7.8rem;background-color:transparent;right:2rem;top:0}
.layer_levelup{opacity:0;-webkit-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity}
.layer_levelup.show{opacity:1}
.layer_levelup p{font-size:1.6rem;line-height:2.4rem;text-align:center;color:#fff;width:100%}
.layer_levelup p:before{width:24.4rem;height:21rem;margin:0 auto 1.2rem}
.layer_levelup p em{color:#8cc240;font-weight:700}
.layer_levelup.l2 p:before{background-image:url(../images/bg_level2.svg)}
.layer_levelup.l3 p:before{background-image:url(../images/bg_level3.svg)}
.layer_levelup.l4 p:before{background-image:url(../images/bg_level4.svg)}
.layer_levelup.l5 p:before{background-image:url(../images/bg_level5.svg)}
.mypage>div.hidden:not(.mypage_main){position:fixed}
.mypage.hidden .set_transition{-webkit-transition-property:none!important;-o-transition-property:none!important;transition-property:none!important}
.mypage>div.hidden:not(.mypage_main) .header
,.mypage.hidden>div:not(.mypage_main) .header
,.mypage>div:not(.mypage_main) .hidden .header
,.mypage>div:not(.mypage_main) .move .header{position:absolute!important}
.mypage>div:not(.mypage_main) .header{border:0;-webkit-transition-property:top;-o-transition-property:top;transition-property:top;background-color:transparent}
.mypage>div:not(.mypage_main) .header.fix{top:-5.2rem}
.mypage>div:not(.mypage_main) .main{padding:8rem 2rem 0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.mypage .tit_sub{font-size:2.6rem;line-height:3.6rem;font-weight:800}
.sub_mypage{z-index:2;background-color:#fff;-webkit-transition-property:left;-o-transition-property:left;transition-property:left}
.sub_mypage.cut{height:100%;overflow:hidden}
.sub_mypage.hidden
,.sub_mypage.move{left:100vw!important}
.sub_mypage.hidden.move{left:0!important}
.sub_mypage.move .header{position:absolute!important}
.my_coupon .info_use{position:absolute;font-size:1.4rem;line-height:1.6rem;right:2rem;top:9rem}
.my_coupon .list_coupon{padding:2.4rem 0 6.8rem}
.my_coupon .list_coupon >li{background-color:#fff;height:16rem;border-radius:.4rem;-webkit-box-shadow:0 0 .2rem 0 rgba(0,0,0,.3);box-shadow:0 0 .2rem 0 rgba(0,0,0,.3);margin-bottom:1.6rem;position:relative;padding:2.4rem 2.4rem 0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;position:relative}
.my_coupon .list_coupon >li:last-child{margin-bottom:0}
/*.my_coupon .list_coupon >li:before
,.my_coupon .list_coupon >li:after{content:'';background-color:#fff;-webkit-box-shadow:inset -.1rem 0 .6rem -.1rem rgba(0,0,0,.3);
box-shadow:inset -.1rem 0 .6rem -.1rem rgba(0,0,0,.3);position:absolute;width:1rem;height:2rem;border-radius:0 1rem 1rem 0;top:11.9rem;z-index:1}
.my_coupon .list_coupon >li:before{left:-.2rem}
.my_coupon .list_coupon >li:after{right:-.2rem;-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}*/
.my_coupon .list_coupon .notice{position:absolute;left:0;bottom:0;height:3.3rem;width:100%;padding:1rem 0 0 5rem;background-color:#f8f8f8;border-radius:0 0 .4rem .4rem;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.my_coupon .list_coupon .notice li{float:left;font-size:1.2rem;color:#666;line-height:1.3rem;padding:0 1.65rem 0 0;position:relative}
.my_coupon .list_coupon .notice li:after{content:'';width:.1rem;height:.8rem;background-color:#ccc;right:.78rem;top:50%;margin-top:-.4rem;position:absolute}
.my_coupon .list_coupon .notice li:last-child:after{display:none}
.my_coupon .list_coupon .type{font-size:1.4rem;line-height:1.6rem;font-weight:700;display:block;margin-bottom:1rem}
.my_coupon .list_coupon .desc{font-size:2.6rem;line-height:2.9rem;font-weight:700;color:#4a7df3;margin-bottom:1rem}
.my_coupon .list_coupon .date{font-size:1.2rem;line-height:2.3rem;color:#888}
.my_coupon .list_coupon .btn_use{position:absolute;left:0;top:0;width:100%;height:100%}
.my_coupon .list_coupon .btn_use:before,
.my_coupon .list_coupon .btn_use:after{margin:-1.7rem 0 0 10.6rem}
.my_coupon .list_coupon .btn_use:before{width:6rem;height:6rem;background-color:#4a7df3;border-radius:3rem}
.my_coupon .list_coupon .btn_use:after{width:2.4rem;height:2.4rem;background-image:url(../images/icon_reservation_white.svg)}
.my_reservation>div.hidden
,.my_event>div.hidden{position:fixed;left:-100vw;top:0;height:100%;min-height:100%;overflow:hidden}
.my_reservation .btn_viewmenu{position:absolute;right:2.4rem;top:8.6rem;height:2.4rem;width:8.1rem;text-align:left}
.my_reservation .btn_viewmenu:after{width:2.4rem;height:2.4rem;background-image:url(../images/icon_dropdown_black.svg);position:absolute;right:0;top:0}
.my_reservation .step1
,.my_reservation .step2
,.my_event .step1
,.my_event .step2{position:absolute;left:0;width:100vw;min-height:100%;-webkit-transition-property:left;-o-transition-property:left;transition-property:left;background-color:#fff}
.my_reservation .step1.move
,.my_event .step1.move{left:-100vw;height:auto!important;min-height:100%!important}
.my_reservation .step2.move
,.my_event .step2.move{left:100vw;height:auto!important;min-height:100%!important}
.my_reservation .step1 .main{padding-bottom:5.2rem!important}
.my_reservation .step1 .main .btn_more
,.my_qna .main .btn_more{display:block;width:16rem;height:4rem;border:.1rem solid #ccc;border-radius:2rem;margin:0 auto 3.2rem;font-weight:700}
.my_reservation .step2.hidden
,.my_event .step2.hidden{left:100vw}
.my_reservation .step2.hidden.move
,.my_event .step2.hidden.move{left:0}
.my_reservation .step2 .header strong
,.my_siteout .header strong
,.my_event .header strong{display:block;height:5.6rem;line-height:5.6rem;font-size:1.8rem;font-weight:700;text-align:center}
.my_reservation .step2 .main{padding:8rem 0 0!important}
.layer_reservationtype{-webkit-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity;opacity:0}
.layer_reservationtype .inner{position:absolute;left:0;bottom:-100vh;width:100vw;background-color:transparent;-webkit-transition-property:bottom;-o-transition-property:bottom;transition-property:bottom}
.layer_reservationtype.show{opacity:1}
.layer_reservationtype.show .inner{bottom:0}
.layer_reservationtype .btn_close{top:1.6rem;right:1.6rem}
.layer_reservationtype .inner .header{height:4rem;border-radius:1.6rem 1.6rem 0 0;background-color:#fff}
.layer_reservationtype .inner .main{background-color:#fff;padding-bottom:1.6rem}
.layer_reservationtype .inner .list_type button{display:block;width:100%;height:5rem;padding:0 2rem;font-size:1.6rem;text-align:left}
.layer_reservationtype .inner .list_type button:after{content:'';width:1rem;height:1rem;border-radius:.5rem;display:none;position:absolute;right:2rem;background-color:#000}
.layer_reservationtype .inner .list_type button.sel:after{display:block}
.layer_reservationtype .inner .list_type button.ing:after
,.list_reservation .ing button:before{background-color:#4a7df3}
.layer_reservationtype .inner .list_type button.wait:after
,.list_reservation .wait button:before{background-color:#1eb7b1}
.layer_reservationtype .inner .list_type button.complete:after
,.list_reservation .complete button:before{background-color:#f5a623}
.layer_reservationtype .inner .list_type button.cancel:after
,.list_reservation .cancel button:before{background-color:#ff1c24}
.layer_reservationtype .inner .list_type button.done:after
,.list_reservation .done button:before{background-color:#6379ab}
.layer_reservationtype .inner .list_type button.noshow:after
,.list_reservation .noshow button:before{background-color:#b728ff}
.list_reservation{padding:.8rem 0 2.8rem}
.list_reservation li{margin-top:1.6rem}
.list_reservation li button{position:relative;display:block;width:100%;padding:2.4rem;border-radius:.2rem;box-shadow:0 0 .2rem 0 rgba(0,0,0,.3)}
.list_reservation li button:before{content:'';position:absolute;left:0;top:0;width:.4rem;height:100%;border-radius:.2rem 0 0 .2rem}
.list_reservation .ing .type{color:#4a7df3}
.list_reservation .wait .type{color:#1eb7b1}
.list_reservation .complete .type{color:#f5a623}
.list_reservation .cancel .type{color:#ff1c24}
.list_reservation .done .type{color:#6379ab}
.list_reservation .noshow .type{color:#b728ff}
.list_reservation .type
,.list_reservation .num{font-size:1.2rem;font-weight:700;line-height:1.3rem}
.list_reservation .type{float:left}
.list_reservation .num{float:right}
.list_reservation .product{clear:both;padding-top:1.2rem;font-size:1.4rem;line-height:1.6rem;font-weight:700;text-align:left}
.list_reservation .info{font-size:1.3rem;line-height:1.6rem;color:#333;padding-top:1.9rem;margin-bottom:-.6rem}
.list_reservation .info dt:after{content:' : '}
.list_reservation .info dt
,.list_reservation .info dd{float:left;margin-bottom:.6rem}
.list_reservation .info dt{clear:both}
.reservation_detail{padding-bottom:5.2rem}
.reservation_detail .num_reservation{float:left;height:2.8rem;padding:0 1.6rem;margin-bottom:1.6rem;border:.1rem solid #ccc;border-radius:1.4rem;font-size:1.4rem;line-height:2.8rem;text-align:center;font-weight:700}
.reservation_detail .num_reservation .state{color:#4a7df3;display:inline-block;padding-right:1rem}
.reservation_detail .procuct_name{clear:both;display:block;margin-bottom:1.2rem;font-size:2rem;line-height:2.8rem;font-weight:800}
.reservation_detail .info
,.reservation_detail .info_customer{font-size:1.4rem;line-height:2.4rem;color:#333}
.reservation_detail .info dt
,.reservation_detail .info dd{float:left;position:relative;margin-bottom:.8rem}
.reservation_detail .info dt:last-of-type
,.reservation_detail .info dd:last-of-type{margin-bottom:0}
.reservation_detail .info dt{width:6.8rem;height:2.4rem}
.reservation_detail .info dt:after{content:'';position:absolute;right:.8rem;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);width:.1rem;height:1rem;background-color:#ddd}
.reservation_detail .info dd{width:calc(100% - 6.8rem)}
.reservation_detail .info dd a{position:absolute;right:0;top:0;color:#4a7df3}
.reservation_detail .info .option{color:#000}
.reservation_detail .tit{display:block;margin-bottom:1.6rem;font-size:1.8rem;line-height:2rem;font-weight:800}
.reservation_detail .info_customer li{margin-bottom:.8rem;color:#333}
.reservation_detail .info_customer li:last-child{margin-bottom:0}
.reservation_detail .info_customer li:nth-child(2n){color:#000}
.reservation_detail .info_payment li{position:relative;font-size:1.4rem;line-height:2.2rem;padding-right:10.8rem}
.reservation_detail .info_payment li em{position:absolute;right:0;top:0}
.reservation_detail .total{display:block;position:relative;padding-top:2rem;margin-top:2rem;border-top:.1rem solid #ccc;font-size:1.4rem;line-height:1.8rem}
.reservation_detail .total em{position:absolute;right:0;top:2rem;font-size:1.6rem}
.reservation_detail .total span{font-weight:700}
.reservation_detail .section{border-top:.8rem solid #f4f4f4;padding:2.4rem 2rem 3.2rem}
.reservation_detail >.section:first-child{border-top:0;padding-top:0}
.reservation_detail .return .section:last-child{border-top:.1rem solid #ccc}
.reservation_detail .return .info{margin-bottom:2.4rem}
.reservation_detail .return .map{overflow:hidden;height:16rem}
.my_infoedit{padding-bottom:5.2rem}
.my_infoedit.cut{height:100%;overflow:hidden}
.my_infoedit .main{padding:8rem 0 0!important}
.my_infoedit .footer{bottom:auto!important;height:6rem!important;position:relative!important}
.my_infoedit .out_links{position:relative;height:6.7rem;padding-top:1.1rem;text-align:center;background-color:#f4f4f4}
.my_infoedit .out_links:after{width:.1rem;height:1.2rem;background-color:#ccc}
.my_infoedit .out_links button{display:inline-block;padding:1.7rem;font-size:1.6rem;color:#666;vertical-align:middle}
.my_infoedit .tit_sub{margin-bottom:3.6rem}
.my_infoedit .tit_sub
,.my_infoedit .wrap_input{padding-left:2rem;padding-right:2rem}
.my_infoedit .wrap_input{margin-bottom:3.6rem}
.my_infoedit .wrap_input button{right:2rem}
.my_infoedit .phonenumber{position:relative}
.my_infoedit .wrap_input:nth-of-type(3){margin-bottom:3.2rem;padding-top:.4rem}
.my_infoedit .wrap_input .tit{display:block;margin-bottom:1rem;font-size:1.6rem;font-weight:700}
.my_infoedit .wrap_input .desc{margin-bottom:2.4rem;font-size:1.4rem;color:#333}
.my_infoedit .wrap_input .custom_check+.custom_check{margin-top:2rem}
.my_infoedit .wrap_input .custom_check label{font-weight:400}
.my_siteout .tit{display:block;margin-bottom:1rem;font-size:1.6rem;line-height:1.8rem;font-weight:700}
.my_siteout .notice{margin-bottom:2rem;font-size:1.4em;line-height:1.6rem;color:#333}
.my_siteout .desc{overflow:auto;position:relative;padding:1.2rem 1.6rem;margin-bottom:2rem;max-height:15.2rem;background-color:#f4f4f4;font-size:1.1rem;line-height:1.9rem;color:#555}
.my_siteout .custom_check{position:relative;top:auto;left:auto}
.my_siteout .custom_check input{left:.5rem;top:.5rem;opacity:0}
.my_siteout .custom_check label:before{left:0}
.my_siteout .custom_check label{font-size:1.4rem;font-weight:400}
.home .wrap .my_siteout .footer{height:6rem}
.home .wrap .my_siteout .footer,
.home .wrap .my_siteout.hidden .footer{position:absolute!important}
.home .wrap .my_siteout.hidden .footer{bottom:5.2rem}
.mypage>div.my_qna .main
,.mypage>div.my_faq .main{padding:8rem 0 8.4rem}
.mypage>div.my_event .move .header.floating{left:100vw;position:fixed!important}
.mypage>div.my_event .move.hidden .header.floating{position:absolute!important;left:0!important}
.mypage .header.floating{-webkit-transition-property:left!important;-o-transition-property:left!important;transition-property:left!important;top:0!important;box-shadow:0 0 .2rem 0 rgba(0,0,0,.3);background-color:#fff!important}
.list_qna .q{position:relative;padding:1.6rem 2rem 1.8rem}
.list_qna .q:after{content:'';position:absolute;left:2rem;bottom:0;width:calc(100% - 4rem);height:.1rem;background-color:#d8d8d8}
.list_qna .q em{display:block;margin-bottom:1.2rem;font-size:1.2rem;line-height:1.3rem;color:#333}
.list_qna .q strong{display:block;padding-right:3.4rem;font-size:1.4rem;line-height:2.2rem;font-weight:700}
.list_qna .q button{position:absolute;left:0;top:0;width:100%;height:100%}
.list_qna .q button .bg{position:absolute;right:2rem;top:50%;width:2.4rem;height:2.4rem;margin-top:-1.2rem;background-image:url(../images/icon_more_down.svg);-webkit-transition-property:-webkit-transform;-o-transition-property:-o-transform;transition-property:transform;-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}
.list_qna .q button.close .bg{-webkit-transform:rotate(0);-ms-transform:rotate(0);-o-transform:rotate(0);transform:rotate(0)}
.list_qna .q button.return .bg{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg)}
.list_qna .a{overflow:hidden;position:relative;height:0;margin-top:-.1rem;background-color:#ecf2fd;-webkit-transition-property:height;-o-transition-property:height;transition-property:height}
.list_qna .a .inner{padding:2rem;font-size:1.4rem;line-height:1.6rem}
.list_qna .a .inner:before{content:'A.';display:block;font-size:2rem;font-weight:700;margin-bottom:1.2rem}
.my_qna .tit_sub
,.my_faq .tit_sub{padding:0 2rem;margin-bottom:.8rem}
.my_qna .more{padding-top:2rem}
.my_qna .btn_write{position:fixed;right:2rem;bottom:7.2rem;z-index:2;width:6rem;height:6rem;border-radius:50%;background-color:#4a7df3;-webkit-transition-property:bottom;-o-transition-property:bottom;transition-property:bottom}
.my_qna .btn_write:after{width:2.4rem;height:2.4rem;background-image:url(../images/icon_cross_blue.svg)}
.my_qna.hidden .btn_write,
.hidden .my_qna .btn_write{bottom:-3rem}
.my_qna .main .btn_more{margin-bottom:0}
.my_qna_write{left:0!important;-webkit-transition-property:top;-o-transition-property:top;transition-property:top}
.my_qna_write.hidden{top:100vh!important;left:0!important}
.my_qna_write.hidden.move{top:0!important}
.my_qna_write .tit_sub{margin-bottom:3.6rem}
.home .my_qna_write .footer{position:absolute;height:6rem}
.list_event li{position:relative;margin-bottom:2.8rem}
.list_event li:last-child{margin-bottom:0}
.list_event .img{overflow:hidden;position:relative;height:18rem;margin-bottom:1.2rem;border-radius:.6rem;background-color:#ebebeb}
.list_event .img img{width:100%!important}
.list_event .tit{display:block;margin-bottom:.8rem;font-size:1.4em;line-height:2.4rem;font-weight:700}
.list_event .date{font-size:1.2rem;line-height:1.3rem;color:#333}
.list_event .date span{display:inline-block;position:relative}
.list_event .date span:after{content:'';display:inline-block;position:relative;top:.1rem;width:.1rem;height:1rem;margin:0 .5rem 0 .8rem;background-color:#ddd}
.list_event .btn_apply{position:absolute;right:0;bottom:.6rem;width:7.5rem;height:3.2rem;border:.1rem solid #4a7df3;border-radius:1.6rem;font-size:1.2rem;color:#4a7df3}
.my_event .tit_sub{margin-bottom:2.4rem}
.my_event .main{padding-bottom:8.5rem!important}
.my_event .main .more{padding-top:2.8rem}
.my_event .main .btn_more{margin-bottom:0}
.my_event >div{background-color:#fff}
.my_event .step2 .img{overflow:hidden;margin-bottom:2.4rem;border-radius:.6rem;background-color:#ebebeb}
.my_event .step2 .img img{width:100%!important;vertical-align:top}
.my_event .step2 .desc{margin-bottom:2.4rem;font-size:1.4rem;line-height:2.2rem}
.my_event .step2 .btn_getcoupon{display:block;width:100%;height:4.8rem;border-radius:2.4rem;background-color:#4a7df3;font-size:1.6rem;font-weight:700;color:#fff}
.layer_alert .inner{border-radius:.2rem;overflow:hidden}
.layer_alert .type1{width:calc(100% - 4.8rem);padding:2rem 0 .8rem}
.layer_alert .type1 .tit{display:block;padding:0 2rem;margin-bottom:1.2rem;font-size:2rem;line-height:3rem;font-weight:700;color:#111}
.layer_alert .type1 .desc{padding:0 2rem;margin-bottom:3.2rem;font-size:1.4rem;line-height:2.2rem;color:#111}
.layer_alert .type1 .btns{padding:0 .8rem;text-align:right}
.layer_alert .type1 .btns button{display:inline-block;width:6.4rem;height:3.6rem;font-size:1.6rem;color:#4a7df3;vertical-align:top}
.layer_alert .type2{width:calc(100% - 6.4rem);padding-top:3rem}
.layer_alert .type2 .tit{display:block;padding:0 2rem;margin-bottom:1.6rem;font-size:1.8rem;line-height:2rem;font-weight:700}
.layer_alert .type2 .desc{margin:0 2rem 2.2rem;padding:.5rem;font-size:1.4rem;line-height:2.2rem;background-color:#efefef;color:#111;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.layer_alert .type2 .btns button{display:block;width:100%;height:5.2rem;background-color:#4a7df3;color:#fff;font-size:1.6rem;font-weight:700}
.product_alllist{-webkit-transition-property:left;-o-transition-property:left;transition-property:left}
.product_alllist.hidden.move{left:0}
.product_alllist.hidden{top:0!important;left:100vw}
.product_alllist.top{-webkit-transition-property:top;-o-transition-property:top;transition-property:top}
.product_alllist.top.hidden{left:0;top:100vh!important}
.product_alllist.hidden .header{position:absolute!important}
.product_alllist .main{padding-top:5.6rem}
.product_alllist .list_type1 li{position:relative;padding:2.4rem 0 3.2rem 18.8rem;border-bottom:.1rem solid #d8d8d8}
.product_alllist .list_type1 .img{position:absolute;left:2rem;top:0;width:15.4rem;height:100%}
.product_alllist .list_type1 .img:before{content:'';width:.1rem;height:100%;display:inline-block;vertical-align:middle;margin-left:-.1rem}
.product_alllist .list_type1 .img img{display:inline-block;vertical-align:middle}
.product_alllist .list_type1 .tit{display:block;margin-bottom:1.2rem;font-size:1.6rem;line-height:2.4rem}
.product_alllist .list_type1 .tit
,.product_alllist .list_type1 .info{padding-right:2rem}
.product_alllist .list_type1 .info dt
,.product_alllist .list_type1 .info dd{font-size:1.2rem;line-height:2rem;color:#333}
.product_alllist .list_type1 .info dt{clear:both;float:left}
.product_alllist .list_type1 .info dt:after
,.product_alllist .list_type2 .info dt:after{content:'\00a0:\00a0'}
.product_alllist .list_type1 .info .blue
,.product_alllist .list_type2 .info .blue{color:#4a7df3}
.product_alllist .btn_view{position:absolute;left:0;top:0;width:100%;height:100%;z-index:2;background-color:transparent}
.product_alllist .list_type2 li{position:relative;padding:2.4rem 2rem 3.2rem;border-bottom:.1rem solid #d8d8d8}
.product_alllist .list_type2 .img{margin-bottom:1.6rem}
.product_alllist .list_type2 .img img{width:100%}
.product_alllist .list_type2 .tit{display:block;margin-bottom:.8rem;font-size:1.6rem;line-height:2.2rem}
.product_alllist .list_type2 .info dt
,.product_alllist .list_type2 .info dd{float:left;font-size:1.2rem;line-height:2rem;color:#333}
.product_alllist .list_type2 .info dt:nth-of-type(2n+1)
,.product_alllist .list_type2 .info dt:last-of-type{clear:both}
.product_alllist .list_type2 .info dd:nth-of-type(2n-1):after
,.product_alllist .list_type2 .info dd:nth-last-of-type(3):after{content:'\00a0/\00a0'}
.product_alllist .list_type2 .info dt:nth-last-of-type(2){float:left!important;clear:none}
.product_alllist .list_type2 .info dd:nth-last-of-type(2):after{display:none}
.keyboard{overflow-y:scroll!important;overflow-x:hidden!important}
.keyboard .footer{display:none!important}

/*.product_alllist .list_type2 .info dd:nth-of-type(3n-2){background-color:red}*/
/*.product_alllist .list_type2 .info dt
,.product_alllist .list_type2 .info dd{float:left}
.product_alllist .list_type2 .info dt:after{}
.product_alllist .list_type2 .info dt:nth-of-type(3n){clear:both}
.product_alllist .list_type2 .info dd:nth-of-type(2n-1){background-color:red}*/




